
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* Inicio Modal Sobre *@

<div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Sobre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a href="https://www.docspider.com.br/" target="_blank">
                    <img class="img-thumbnail rounded mx-auto d-block" src="https://pbs.twimg.com/profile_images/700799813663793152/VNMpGybA_400x400.png" height="200px" width="200px" />
                </a>
                <p class="text-dark mt-2"> Sistema de anexo de documentos - SIDOC - <span class="text-dark">Versão 1.0.0 </span> </p>

                <h5>Você possui alguma dúvida:</h5>
                <p>Entre em nosso<a href="https://www.docspider.com.br/" target="_blank" class="tooltip-test" title="dockspider.com.br"> Link</a> e conheça os serviços que temos a oferecer. Joinville-SC | Fone: (47) 3121-5050 </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
@*Fim  Modal Sobre *@